# Heroes Of Pymoli Data Analysis

## Takeaways on observable trends on the data

- There are 780 purchases in the dataset from 576 players. Among the players, 84% were men whereas only 14% were women. Purchases were also mainly made by male players, that 652 purchases were made by male. However, female players tended to spend more. Female players spent \$4.47 per person on average, exceeding male players by \$0.4.<br><br>
- The majority of the players were composed of 20-24 years olds (44.79%). However, 35-39 years olds tended to spend more on average that they spent \$4.76 per person. People less then 10 years old spent 
\$4.54 per person, ranked second. 20-24 years olds spent \$4.32, ranked third.<br><br>

-  Most popular item in the dataset was Oathbreaker, Last Hope of the Breaking Storm, which was purchased 12 times. It was also the most profitable itme.

## Analysis

In [125]:
# Dependencies and Setup
import pandas as pd

In [126]:
#Load the data. Data stored in the same directory as the notebook
file = pd.read_csv('04-Pandas_homework_HeroesOfPymoli_Resources_purchase_data.csv')

#Make dataframe
df = pd.DataFrame(file)

#Display first 5 rows of the data
df.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

### Data cleaning and descriptives

In [127]:
#Check if any value is missing
df.isnull().values.any()

False

In [128]:
#Descriptives
df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

### Player Count

In [129]:
#Count the number of unique players
count_player = df['SN'].nunique()
player_count_df = pd.DataFrame({'Total Players': [count_player]})
player_count_df

   Total Players
0            576

### Purchasing Analysis (Total)

In [130]:
#Count number of unique items
count_items = df['Item ID'].nunique()
count_items

183

In [131]:
#Average Purchase Price
average_price = df['Price'].mean()
average_price

3.050987179487176

In [132]:
#Total number of purchases
count_purchase = df['Purchase ID'].count()
count_purchase

780

In [133]:
#Total revenue
revenue_sum = df['Price'].sum()
revenue_sum

2379.77

In [134]:
#display result in a dataframe
purchasing_analysis_df = pd.DataFrame({'Number of Unique Items':[count_items],
                                       'Average Price':[average_price],
                                       'Number of Purchases':[count_purchase],
                                       'Total Revenue':[revenue_sum]})

purchasing_analysis_df.style.format({'Average Price': '${:.2f}',
                                    'Total Revenue': '${:.2f}'})

### Gender Demographics

In [135]:
#filter duplicated players
dedupe_players_df = df.drop_duplicates('SN')
#Check if all the duplicated players have been successfully deduped in 
#the dedupe dataframe 
dedupe_players_df.count()

Purchase ID    576
SN             576
Age            576
Gender         576
Item ID        576
Item Name      576
Price          576
dtype: int64

In [136]:
#Gender distribution in players (count)
demographics_count = dedupe_players_df.groupby(['Gender'])['Gender'].count()
demographics_count

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [137]:
#Gender distribution in players (%)
demographics_percents = demographics_count/dedupe_players_df['Gender'].count()
demographics_percents

Gender
Female                   0.140625
Male                     0.840278
Other / Non-Disclosed    0.019097
Name: Gender, dtype: float64

In [138]:
#Dislay result in a dataframe, sorted high to low by Total Count
demo_df=pd.DataFrame({'Total Count':demographics_count, 
                      'Percents':demographics_percents})
demo_df_sorted=demo_df.sort_values(['Total Count'],ascending = False)
demo_df_sorted.style.format({'Percents': '{:.2%}'})

### Purchasing Analysis

In [139]:
#purchase count by gender
purchase_count_gender = df.groupby(['Gender'])['Purchase ID'].count()
purchase_count_gender

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [140]:
#average purchase price by gender
purchase_avg_price_gender = df.groupby(['Gender'])['Price'].mean()
purchase_avg_price_gender

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [141]:
#total purchase value by gender
total_purchase_value_gender = df.groupby(['Gender'])['Price'].sum()
total_purchase_value_gender

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [142]:
#Avg total purchase per person by gender
avg_total_purchase_gender = total_purchase_value_gender / demographics_count
avg_total_purchase_gender

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [143]:
#display all the data in one dataframe
purchasing_analysis = pd.DataFrame({'Purchase Count':purchase_count_gender,
                                    'Average Purchase Price':purchase_avg_price_gender,
                                    'Total Purchase Value':total_purchase_value_gender,
                                    'Avg Total Purchase per Person':avg_total_purchase_gender})

purchasing_analysis_sorted = purchasing_analysis.sort_values('Purchase Count',ascending=False)
purchasing_analysis_sorted.style.format({'Average Purchase Price':'${:.2f}',
                                    'Total Purchase Value':'${:.2f}',
                                    'Avg Total Purchase per Person':'${:.2f}'})

### Age Demogrpahics

In [144]:
#Craete bins
age_bins = [0,9,14,19,24,29,34,39,100]

#Create labels for bins
age_name = ['<10','10~14','15~19','20~24','25~29','30~34','35~39','>40']  

#implement the age brack back to dataset
df['Age Bracket']=pd.cut(df['Age'],age_bins,labels=age_name)

#drop duplicated players
dedupe_players_df = df.drop_duplicates('SN')

#display the dataframe
dedupe_players_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Bracket
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20~24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,>40
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20~24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20~24
4,4,Iskosia90,23,Male,131,Fury,1.44,20~24

In [145]:
#Calculate purchase count by age
purchase_count_by_age_demo = dedupe_players_df.groupby(['Age Bracket'])['Purchase ID'].count()
purchase_count_by_age_demo

Age Bracket
<10       17
10~14     22
15~19    107
20~24    258
25~29     77
30~34     52
35~39     31
>40       12
Name: Purchase ID, dtype: int64

In [146]:
#calculate the percentage of players by age
purchase_percents_by_age_demo = purchase_count_by_age_demo / dedupe_players_df['Age'].count()
purchase_percents_by_age_demo

Age Bracket
<10      0.029514
10~14    0.038194
15~19    0.185764
20~24    0.447917
25~29    0.133681
30~34    0.090278
35~39    0.053819
>40      0.020833
Name: Purchase ID, dtype: float64

In [147]:
#display the final result in  a single dataframe
age_demographics_df = pd.DataFrame({'Total Count': purchase_count_by_age_demo, 
                                   'Percentage of Players': purchase_percents_by_age_demo})
age_demographics_df.head().style.format({'Percentage of Players':'{:.2%}'})

### Purchaing Analysis (Age)

In [148]:
#Purchasing count by age (using undeduped player data)
purchase_count_by_age = df.groupby(['Age Bracket'])['Purchase ID'].count()
purchase_count_by_age

Age Bracket
<10       23
10~14     28
15~19    136
20~24    365
25~29    101
30~34     73
35~39     41
>40       13
Name: Purchase ID, dtype: int64

In [149]:
#Calculate average purchase price by age
purchase_price_mean_by_age=df.groupby(['Age Bracket'])['Price'].mean()
purchase_price_mean_by_age

Age Bracket
<10      3.353478
10~14    2.956429
15~19    3.035956
20~24    3.052219
25~29    2.900990
30~34    2.931507
35~39    3.601707
>40      2.941538
Name: Price, dtype: float64

In [150]:
#Calculate total purcahse value
purchase_value_by_age = df.groupby(['Age Bracket'])['Price'].sum()
purchase_value_by_age

Age Bracket
<10        77.13
10~14      82.78
15~19     412.89
20~24    1114.06
25~29     293.00
30~34     214.00
35~39     147.67
>40        38.24
Name: Price, dtype: float64

In [151]:
#Average total purchase per person
purchase_per_person_by_age = purchase_value_by_age/purchase_count_by_age_demo
purchase_per_person_by_age

Age Bracket
<10      4.537059
10~14    3.762727
15~19    3.858785
20~24    4.318062
25~29    3.805195
30~34    4.115385
35~39    4.763548
>40      3.186667
dtype: float64

In [152]:
#Put result into a single dataframe
age_purchase_df = pd.DataFrame({'Purchase Count': purchase_count_by_age,
                                'Average Purchase Price': purchase_price_mean_by_age,
                                'Total Purchase Value': purchase_value_by_age,
                                'Avg Total Purchase per Person': purchase_per_person_by_age})

age_purchase_df.style.format({'Average Purchase Price': '${:.2f}',
                              'Total Purchase Value': '${:.2f}',
                              'Avg Total Purchase per Person':'${:.2f}'})

### Top Spenders

In [153]:
#Display player name by number of items purchased
top_spender_count = df.groupby(['SN'])['Purchase ID'].count()
top_spender_count.sort_values(ascending=False).head()

SN
Lisosia93      5
Iral74         4
Idastidru52    4
Aina42         3
Iri67          3
Name: Purchase ID, dtype: int64

In [154]:
#Calculate average purchase price per player
average_purchase_price_per_player = df.groupby(['SN'])['Price'].mean()
average_purchase_price_per_player.head()

SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Name: Price, dtype: float64

In [155]:
#Total purchase value per player
total_purchase_per_player = df.groupby(['SN'])['Price'].sum()
total_purchase_per_player.head()

SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Name: Price, dtype: float64

In [156]:
#display result in one dataframe and sort by total purchase value from high to low
top_spenders = pd.DataFrame({'Purchase Count': top_spender_count,
                             'Average Purchase Price': average_purchase_price_per_player,
                             'Total Purchase Value': total_purchase_per_player})
sorted_top_spenders_df = top_spenders.sort_values('Total Purchase Value',ascending = False)
sorted_top_spenders_df.head().style.format({'Total Purchase Value':'${:.2f}',
                                           'Average Purchase Price':'${:.2f}'})

### Most Popular Items

In [157]:
#retrieval certain columns for most popular items analysis
popular_item = df[['Item ID','Item Name','Price']]
popular_item.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [158]:
#purchase count per item
purchase_count = popular_item.groupby(['Item ID','Item Name'])['Item ID'].count()
purchase_count.head()

Item ID  Item Name
0        Splinter              4
1        Crucifer              3
2        Verdict               6
3        Phantomlight          6
4        Bloodlord's Fetish    5
Name: Item ID, dtype: int64

In [159]:
#average price per item
purchase_price = popular_item.groupby(['Item ID','Item Name'])['Price'].mean()
purchase_price.head()

Item ID  Item Name
0        Splinter              1.28
1        Crucifer              3.26
2        Verdict               2.48
3        Phantomlight          2.49
4        Bloodlord's Fetish    1.70
Name: Price, dtype: float64

In [160]:
#total purchase value
purchase_value = popular_item.groupby(['Item ID','Item Name'])['Price'].sum()
purchase_value.head()

Item ID  Item Name
0        Splinter               5.12
1        Crucifer               9.78
2        Verdict               14.88
3        Phantomlight          14.94
4        Bloodlord's Fetish     8.50
Name: Price, dtype: float64

In [161]:
#Put result into one dataframe
most_popular_items_df = pd.DataFrame({
                                      'Purchase Count': purchase_count,
                                      'Item Price': purchase_price,
                                      'Total Purchase Value': purchase_value})

most_popular_items_df_sorted = most_popular_items_df.sort_values('Purchase Count',ascending=False)
most_popular_items_df_sorted.head().style.format({'Item Price': '${:.2f}',
                                                  'Total Purchase Value': '${:.2f}'})

### Most Profitable Items

In [162]:
#Resort the previous table to get the most profitable item
most_popular_items_df_sorted = most_popular_items_df.sort_values('Total Purchase Value',ascending=False)
most_popular_items_df_sorted.head().style.format({'Item Price': '${:.2f}',
                                                  'Total Purchase Value': '${:.2f}'})